	<header><!--页眉，导航条-->
	  <div class = "navbar navbar-fixed-top navbar-inverse">
	    <div class = "container">	
	    <%= link_to "短发", root_path, id:"logo" %>
		  <nav>
			<ul class = "nav navbar-nav pull-right">
				<li><%= link_to "登陆",'#' %></li>
				<li><%= link_to "主页", root_path %></li>
				<li><%= link_to "帮助", help_path %></li>
				<li><%= link_to "关于我们", about_path %></li>
			</ul>
		  </nav>
	    </div>
	  </div>
	</header>