<!DOCTYPE html>
<html>
<head>
  <title>短发 | <%= yield(:title) %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--home等页面会插入到下面的位置-->
<%= yield %>

</body>
</html>
